SCP put does not warn if destination path is missing

Pretty much what it says on the tin.  I was trying to SCP a file to a destination and was getting `false` in return.  It took liberal use of `var_dump` in the put function discover the problem was an error that was communicated over the protocol, but the specifics of the error were lost.  Somewhere about here:

https://github.com/phpseclib/phpseclib/blob/master/phpseclib/Net/SCP.php#L182

Would it be possible to somehow notify the caller of the function of what was going on in a more specific way than just `false`?

Are you using the master branch? Because that's the version of SCP.php that you linked to.

If you are then I'd advise against it. I do not plan on SCP.php being in phpseclib 3.0.

Anyway, a few unattractive possibilities exist.

1. Throw exceptions or use `user_error` / `trigger_error`. The problem is that these would break BC and the only branch that BC breaking changes are kosher in is the master branch and I plan on removing SCP.php, as already stated.
2. There's `SSH2::getErrors()` and `SSH2::getSFTPErrors()`. Something like that could be done for this BUT...  those methods return errors that the SSH server issued. eg. if the server sends a SSH_MSG_DEBUG packet that packet contains a "message" per [RFC4253 § 11.3](https://tools.ietf.org/html/rfc4253#section-11.3). That's what those methods return. They do not return messages that might facilitate diagnostics on phpseclib's end. Like if the RSA key isn't correctly formatted...  it'll just return a false. It won't tell you why. Personally, I think that'd be a higher priority thing then spending time on SCP error reporting.

In lieu of any immediate resolution to this...  you could try looking at the `SSH2::getErrors()` output. That might yield something. Also, posting a copy of the logs might be helpful too. You can get them by doing `define('NET_SSH2_LOGGING', 2);` at the top and then doing `echo $ssh->getLog();` after the error occurs.

Re-reading this...  I guess I kinda glossed over the bit you mentioned in the title lol.

Anyway, I guess https://github.com/phpseclib/phpseclib/commit/5b795c18ab91f7809a0d6501a6feafbe5aa9921e should address this!